.query-box {
    width: 30%
}

#result-container {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
}

.result {
    width: 30%;
    height: auto;
    max-height: auto;
    background-color: aqua;
    border: 5px solid black;
    border-color: black;
}

body {
    margin: 0;
    padding : 0;
    display: flex;
}